.calculadora{
    position: fixed;
    top:50%;
    left:50%;
    background-color: #575757;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-image: linear-gradient(rgb(8, 200, 21)rgb(40, 40, 40));
    border: 4px solid #000000;
    border-radius: 8px;
    padding: 40px;
}/*Fechamento calculadora*/

.tela{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 3rem;
    width: 93%;
    height: 80px;   
    margin-bottom: 20px;
    border: 4px solid #000000;
    padding: 10px;
    border-radius: 8px;
    background-color: #d3d3d3;
    color: rgb(34, 34, 34);
}/*Fechamento tela*/

.botao{
    display: flex;
    flex-direction: column;
    align-items: center;
}/*Fechamento botao*/

.linha{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}/*Fechamanto coluna*/

.operadores{
    background-color: #000000;
    color: #f5f5f5;
    border: 1px solid;
}/*Fechamento operadores*/

.outros{
    background-color: #7a7a1f;
    color: #f5f5f5;
    border: 2px solid #f7edea;
}/*Fechamento outros*/